@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik+Gemstones&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    text-align: center;
    background-color: blanchedalmond;
    font-family: 'Rubik Gemstones', sans-serif;
}

/*top image*/
#top_image {
    background-image: url('../images/top_image.png');
    min-height: 450px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
}

/*buttons section*/
#buttons {
    margin-top: 10%;
}

.choice {
    width: 160px;
    height: 80px;
    color: rgba(66, 5, 13, 0.795);
    background-color: rgba(255, 255, 0, 0.781);
    border: 5px solid;
    border-color: black;
    margin: 3%;
    text-transform: uppercase;
}

.choice:hover {
    color: yellow;
    background-color: red;
}

/*selection*/
#choice {
    margin-top: 2%;
}

#choice div {
    text-transform: uppercase;
}

/*result*/
#result {
    margin-top: 3%;
}

#result h1 {
    text-transform: uppercase;
    color: red;
}

/*score*/
#final_score {
    margin-top: 3%;
    padding: 2% 0 2% 0;
    border: 2px solid;
    border-color: brown;
}

#final_score h1 {
    
}

#final_score h2 {
    text-transform: uppercase;
}

#game_rules {

}

/*footer code from my previous site https://m1k3l4.github.io/armocromia-lovers/*/
footer {
    height: 150px 
}
.social-networks {
    text-align: center;
}
.social-networks > li {
    display: inline;
}
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #335cce;
}

